@font-face {
    font-family: 'Equip';
    src:
      local('Equip Light'), local('Equip-Light'), local('EquipLig'),
      url('/mi-docs-pub/assets/fonts/equip/EquipLig-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

// // http://nickthetailor.com/fonts/equip/stylesheet.css
// @font-face {
//     font-family: 'equiplight';
//     src: url('equiplig-webfont.eot');
//     src: url('equiplig-webfont.eot?#iefix') format('embedded-opentype'),
//          url('equiplig-webfont.woff') format('woff'),
//          url('equiplig-webfont.ttf') format('truetype'),
//          url('equiplig-webfont.svg#equiplight') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
