// From: https://github.com/concise-online/metropolis/blob/master/index.css
// With some adjustments.

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Regular'), local('Metropolis-Regular'),
      url('/assets/fonts/metropolis/Metropolis-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
        local('Metropolis Bold'), local('Metropolis-Bold'),
        url('/assets/fonts/metropolis/Metropolis-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Medium'), local('Metropolis-Medium'),
      url('/assets/fonts/metropolis/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Light'), local('Metropolis-Light'),
      url('/assets/fonts/metropolis/Metropolis-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Light'), local('Metropolis-ExtraLight'),
      url('/assets/fonts/metropolis/Metropolis-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Black Italic'), local('Metropolis-BlackItalic'),
      url('/assets/fonts/metropolis/Metropolis-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Light Italic'), local('Metropolis-LightItalic'),
      url('/assets/fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Light Italic'), local('Metropolis-ExtraLightItalic'),
      url('/assets/fonts/metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Black'), local('Metropolis-Black'),
      url('/assets/fonts/metropolis/Metropolis-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Bold'), local('Metropolis-ExtraBold'),
      url('/assets/fonts/metropolis/Metropolis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Semi';
    src:
      local('Metropolis Semi Bold Italic'), local('Metropolis-SemiBoldItalic'),
      url('/assets/fonts/metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Bold Italic'), local('Metropolis-BoldItalic'),
      url('/assets/fonts/metropolis/Metropolis-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Semi';
    src:
      local('Metropolis Semi Bold'), local('Metropolis-SemiBold'),
      url('/assets/fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Bold Italic'), local('Metropolis-ExtraBoldItalic'),
      url('/assets/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Regular Italic'), local('Metropolis-RegularItalic'),
      url('/assets/fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Medium Italic'), local('Metropolis-MediumItalic'),
      url('/assets/fonts/metropolis/Metropolis-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Thin Italic'), local('Metropolis-ThinItalic'),
      url('/assets/fonts/metropolis/Metropolis-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Thin'), local('Metropolis-Thin'),
      url('/assets/fonts/metropolis/Metropolis-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Light'), local('Metropolis-Light'),
      url('/assets/fonts/metropolis/Metropolis-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Light Italic'), local('Metropolis-ExtraLightItalic'),
      url('/assets/fonts/metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Bold Italic'), local('Metropolis-ExtraBoldItalic'),
      url('/assets/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Thin Italic'), local('Metropolis-ThinItalic'),
      url('/assets/fonts/metropolis/Metropolis-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Bold'), local('Metropolis-ExtraBold'),
      url('/assets/fonts/metropolis/Metropolis-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Black Italic'), local('Metropolis-BlackItalic'),
      url('/assets/fonts/metropolis/Metropolis-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Black'), local('Metropolis-Black'),
      url('/assets/fonts/metropolis/Metropolis-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Regular'), local('Metropolis-Regular'),
      url('/assets/fonts/metropolis/Metropolis-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Semi';
    src:
      local('Metropolis Semi Bold Italic'), local('Metropolis-SemiBoldItalic'),
      url('/assets/fonts/metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Medium'), local('Metropolis-Medium'),
      url('/assets/fonts/metropolis/Metropolis-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Extra';
    src:
      local('Metropolis Extra Light'), local('Metropolis-ExtraLight'),
      url('/assets/fonts/metropolis/Metropolis-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Semi';
    src:
      local('Metropolis Semi Bold'), local('Metropolis-SemiBold'),
      url('/assets/fonts/metropolis/Metropolis-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Medium Italic'), local('Metropolis-MediumItalic'),
      url('/assets/fonts/metropolis/Metropolis-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Bold'), local('Metropolis-Bold'),
      url('/assets/fonts/metropolis/Metropolis-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Thin'), local('Metropolis-Thin'),
      url('/assets/fonts/metropolis/Metropolis-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Light Italic'), local('Metropolis-LightItalic'),
      url('/assets/fonts/metropolis/Metropolis-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Bold Italic'), local('Metropolis-BoldItalic'),
      url('/assets/fonts/metropolis/Metropolis-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src:
      local('Metropolis Regular Italic'), local('Metropolis-RegularItalic'),
      url('/assets/fonts/metropolis/Metropolis-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
