// More examples: https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
// $accentColor = #6180c3;
$accentColor = #00249C;
$textColor = #000000;
// $borderColor = #eaecef; // default value of borderColor
// $borderColor = rgba(97, 128, 195, 0.2);
// $borderColor = rgba(40, 53, 131, .4);
$borderColor = #DDDDDD;
$codeBgColor = #0f192a;
// https://vuepress.vuejs.org/plugin/official/plugin-nprogress.html
// https://vuepress.vuejs.org/plugin/official/plugin-nprogress.html#custom-color
$nprogressColor = #6180c3;
// https://vuepress.vuejs.org/plugin/official/plugin-search.html
// https://vuepress.vuejs.org/plugin/official/plugin-search.html#tweak-the-default-colors
// $arrowBgColor = #6180c3;
$arrowBgColor = #00A5B7;
$primaryBlue = #101289;

// $navbarHeight = 12rem;
// $navbarHeight = 7.6rem; // working
// $navbarHeight = 7.2rem; // remove 0.4em for padding
$navbarHeight = 137px;
$sidebarWidth = 25rem;
