// More examples: https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl
$primaryBlue = #101289;
$accentColor = #00249C;
$textColor = #000000;
$borderColor = #DDDDDD;
$codeBgColor = #0f192a;

// https://vuepress.vuejs.org/plugin/official/plugin-nprogress.html
// https://vuepress.vuejs.org/plugin/official/plugin-nprogress.html#custom-color
$nprogressColor = #6180c3;

// https://vuepress.vuejs.org/plugin/official/plugin-search.html
// https://vuepress.vuejs.org/plugin/official/plugin-search.html#tweak-the-default-colors
$arrowBgColor = #00A5B7;


$navbarHeight = 137px;
$sidebarWidth = 25rem;

// responsive breakpoints
$MQMobile = 930px;